<section class="bg-navy" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="hr-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Coming to you from Australia, the land <a href="http://ozwords.org/?p=4132" target="_blank">girt by sea</a>, GirtGames is a one-man game dev shop dedicated to building fun and addictive games for mobile devices.</p>
            </div>
        </div>
    </div>
</section>