<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4 col-md-offset-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://facebook.com/GirtGames" target="_blank" class="btn-social btn-outline" title="Facebook">
                                <i class="icon-fw icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/@GirtGames" target="_blank" class="btn-social btn-outline" title="Twitter">
                                <i class="icon-fw icon-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; GirtGames 2017
                </div>
            </div>
        </div>
    </div>
</footer>