<nav id="main-nav" class="navbar navbar-fixed-top navbar-custom" data-gumshoe-header>
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
                Menu <i class="icon-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">GirtGames</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">
            <ul data-gumshoe class="nav navbar-nav navbar-right">
                <li>
                    <a data-scroll href="#poptap">PopTap</a>
                </li>
                <li>
                    <a data-scroll href="#about">About</a>
                </li>
                <li>
                    <a data-scroll href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>