<section id="poptap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PopTap</h2>
                <hr class="hr-light">
                <p>
                    An addictive, casual mobile game about the simplest of pleasures: popping bubbles!
                </p>

                <div class="screenshots">
                    <img src="img/screenshots/poptap/01.jpg" title="PopTap Screenshot" class="screenshot"/>
                    <img src="img/screenshots/poptap/02.jpg" title="PopTap Screenshot" class="screenshot"/>
                    <img src="img/screenshots/poptap/03.jpg" title="PopTap Screenshot" class="screenshot"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://play.google.com/store/apps/details?id=com.GirtGames.PopTap" class="app-download" target="_blank">
                    <img src="img/app-store/google.svg" title="Get it on Google Play"/>
                </a>
                <span class="app-download">
                    <img src="img/app-store/apple-coming-soon.svg" title="Coming Soon"/>
                </span>
            </div>
        </div>
    </div>
</section>